
// Theme
// ---------------------------------------------------------------------------

$inverse-bg          : #272822;
$inverse-color       : #777872;
$inverse-title-color : #f3f3f3;
$inverse-last-child  : #f3e1e1;

$primary          : #000;
$secondary        : #777;

$slides-bg        : #fff;


$red              : #fa0000;
$light            : #FFF;
$code-color       : rgb(249, 38, 114);
$code-bg          : #e7e8e2;
$code-highlight-bg: #373832;
$overlay          : transparentize(#000, .5);
$font-size        : 28px;
$font-size-impact : 128px;
$font             : 'Droid Serif', sans-serif;
$font-title       : 'Yanone Kaffeesatz', sans-serif;
$font-fixed       : 'Ubuntu Mono', Monaco, monospace;
$margin           : 20px;
$iframe-scale     : 1.5;


body {
    font-family: $font;
}
h1, h2, h3 {
    font-family: $font-title;
    font-weight: 400;
    margin-bottom: 0;
}

.vertical-middle {
    text-align: center;
    padding: calc(15% - 2rem);
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
    position: absolute;
    bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: $red; }
.large { font-size: 2em; }
a, a > code {
    color: $code-color;
    text-decoration: none;
}
code {
    background: $code-bg;
    border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: $font-fixed; }
.remark-code-line-highlighted     { background-color: $code-highlight-bg; }
.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ p {
    clear: both;
}
#slideshow .slide .content code {
    font-size: 0.8em;
}
#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}
.inverse {
    background: $inverse-bg;
    color: $inverse-color;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
    color: $inverse-title-color;
    line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}
#slide-how .slides {
    font-size: 0.9em;
    position: absolute;
    top:  151px;
    right: 140px;
}
#slide-how .slides h3 {
    margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px $secondary;
    -webkit-box-shadow: 0 0 10px $secondary;
    box-shadow: 0 0 10px $secondary;
}
#slide-how .slides .first {
    background: $slides-bg;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}
#slide-how .slides .second {
    position: relative;
    background: $slides-bg;
    z-index: 0;
}

/* Two-column layout */
.left-column {
    color: $secondary;
    width: 20%;
    height: 92%;
    float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
    color: $primary;
}

.inverse.left-column {
    color: $secondary;
    width: 20%;
    height: 92%;
    float: left;
}
.inverse.left-column h3:last-of-type {
    color: $inverse-last-child;
}


.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}


.remark-slide-content.img-right > p:first-of-type {
    height: 100%;
    float: right;
    width: calc(50% - 1rem);
    margin-left: 2rem;
    margin-top: 0px;
    padding: 0px;
}
.remark-slide-content.img-left > p:first-of-type {
    height: 100%;
    float: left;
    width: calc(50% - 1rem);
    margin-right: 2rem;
    margin-top: 0px;
    padding: 0px;
}
.remark-slide-content.img-left > ul,
.remark-slide-content.img-left > ol,
.remark-slide-content.img-left > blockquote {
    overflow: auto;
}
.remark-slide-content.img-right-full {
    padding-right: calc(40% + 2rem);
}
.remark-slide-content.img-right-full > p:first-of-type {
    margin: 0px;
    padding: 0px;
}

.remark-slide-content.presentation > img {
    position: absolute;
    top: calc(10% + 2rem);
    right: 10px;
    height: 40%;
    width: 15%;
    object-position: left;
}
.remark-slide-content.img-right-full > p:first-of-type > img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    object-position: left;
}

.remark-slide-content.img-left-full {
    padding-left: calc(40% + 2rem);
}
.remark-slide-content.img-left-full > p:first-of-type {
    margin: 0px;
    padding: 0px;
}
.remark-slide-content.img-left-full > p:first-of-type > img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: right;
}

// Custom additions:

.title-slide {
    width: 60%
}